.hide {
  display: none;
}

.dataTables_paginate {
  padding-right: 50px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  outline: 0 !important;
  font-size: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black !important;
  border-radius: 4px;
  border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: black !important;
  border-radius: 4px;
  border: 1px solid transparent;
}

.pointer {
  cursor: pointer !important;
}
