.filter {
    background-image: url('/css/loupe.png'); /* Add a search icon to input */
    background-position: 12px 15px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    outline: none;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}

.btn-add-circle {
    display: flex;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 17px;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
}