/* @page {
  size: 21cm 29.7cm;
  orientation: landscape;
} */

body {
  overflow-x: auto !important;
}

.cert-view {
  width: 29.7cm;
  height: 21cm;
  background: white;
  margin: 0 auto;
  /* margin-bottom: 0.5cm; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.logoIMB {
  min-height: 90px;
  max-height: 10px;
}

.logoGcloud {
  min-height: 70px !important;
  max-height: 70px !important;
  height: 70px !important;
}
.logoFlutter {
  min-height: 70px !important;
  max-height: 70px !important;
  height: 70px !important;
}


.logoDelta {
  min-height: 73px !important;
  max-height: 73px !important;
  height: 73px !important;
}

/* .alphaLogo {
    padding-left: 278px !important;
} */

.cert-title {
  font-weight: 400;
}

.font-25 {
  font-size: 25px;
}

.fw-700 {
  font-weight: 700;
}

.share-button {
  width: 59px !important;
  height: 59px !important;
}

.share-button-icon {
  width: 41px !important;
  height: 41px !important;
}

.pointer {
  cursor: pointer !important;
}

#qrcode {
  max-width: 90px;
  min-width: 90px;
}

.hide {
  display: none !important;
}

@media print {
  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @page {
    size: A4 landscape;
    margin: 0 !important;
  }

  .non-printable {
    display: none !important;
  }

  .cert-view {
    margin: 0 !important;
  }

  .cert-view,
  body,
  html {
    width: 28.7cm !important;
    height: 20cm !important;
    /* margin-bottom: 0.5cm; */
    box-shadow: none !important;
  }
}


.shtoCertifikateContainer{
  background-color: transparent !important;
    border: 1px black solid !important;
}
